.share-website-wrapper{
    background-color: #F7A96D;
}
.share-website-container{
    max-width: 670px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0 64px 0;
}
.share{
    font-weight: 500;
    color: #00304F;
    font-size: 62px;
    line-height: 60px;
    margin-right: 64px;
}
.link-container:not(:last-child){
    margin-right: 24px;
}


.prizes-wrapper{
    background-color: #00304F;
    padding-top: 150px;
    padding-bottom: 150px;
}
.prizes-container{
    max-width: 1720px;
    margin: 0 auto;
}
.prizes-title{
    font-size: 110px;
    font-weight: 500;
    line-height: 107px;
    color: #EEEEEE;
    margin-bottom: 50px; 
}
.first-prize{
    padding-top: 80px;
    border-top: 1px solid #eeeeee3b;
    display: flex;
}
.first-prize-title{
    display: flex;
    align-items: flex-start;
}
.first-prize-wrapper{
    display: flex;
    align-items: center;
}
.first-prize-title img{
    width: 80px;
    height: 80px;
}
.first-prize-title span{
    font-weight: 500;
    font-size: 62px;
    line-height: 60px;
    margin-left: 24px;
    color: #EEEEEE;
}
.first-prize-content{
    margin-left: 326px;
}
.prize-content-title{
    color: #EEEEEE;
    font-size: 20px;
    line-height: 30px;
    font-weight: 350;
    margin-top: 25px;
}
.item-container{
    margin-top: 40px;
}
.item-container p{
    color: #EEEEEE;
    font-weight: 350;
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
}
.prize-link{
    margin-left: 233px;
    margin-top: 30px;
}
.prize-link-wrapper{
    border-bottom: 2px solid #F7A96D;
    padding-bottom: 3px;
}
.prize-link-wrapper span{
    font-weight: 500;
    color: #F7A96D;
    font-size: 20px;
    line-height: 22px;
}

.second-prize{
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid #eeeeee3b;
    display: flex;
}
.second-prize-content{
    margin-left: 300px;
}
.second-prize-title{
    display: flex;
    align-items: flex-start;
}
.second-prize-wrapper{
    display: flex;
    align-items: center;
}
.second-prize-title img{
    width: 80px;
    height: 80px;
}
.second-prize-title span{
    font-weight: 500;
    font-size: 62px;
    line-height: 60px;
    margin-left: 24px;
    color: #EEEEEE;
}

.third-prize{
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid #eeeeee3b;
    display: flex;
    border-bottom: 1px solid #eeeeee3b;
    padding-bottom: 80px;
}
.third-prize-content{
    margin-left: 300px;
}
.third-prize-title{
    display: flex;
    align-items: flex-start;
}
.third-prize-wrapper{
    display: flex;
    align-items: center;
}
.third-prize-title img{
    width: 80px;
    height: 80px;
}
.third-prize-title span{
    font-weight: 500;
    font-size: 62px;
    line-height: 60px;
    margin-left: 24px;
    color: #EEEEEE;
}