body{
    font-family: 'Stem';
}
@font-face{
    font-family: 'Stem';
    src: url("../fonts/Stem/Stem-Regular.woff") format("woff"), url("../fonts/Stem/Stem-Bold.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Stem';
    src: url("../fonts/Stem/Stem-Bold.woff") format("woff"), url("../fonts/Stem/Stem-Bold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Stem';
    src: url("../fonts/Stem/Stem-Light.woff") format("woff"), url("../fonts/Stem/Stem-Light.woff2") format("woff2");
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}
.caption-container{
    max-width: 1720px;
    margin: 0 auto;
    margin-top: 60px;
}
.caption{
    font-weight: 500;
    font-size: 113px;
    color: #00304F;
    letter-spacing: -0.02em;
}
.caption-description{
    font-weight: 500;
    font-size: 113px;
    color: #00304F;
    letter-spacing: -0.02em;
}
.img-register-bg{
    background: -webkit-linear-gradient(top, #00304F 50%, white 50%);
    background: -o-linear-gradient(top, #00304F 50%, white 50%);
    background: -moz-linear-gradient(top, #00304F 50%, white 50%);
    background: linear-gradient(to top, #00304F 50%, white 50%);
}
.img-register-container{
    width: 1720px;
    height: 818px;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
}
.img-register-container img{
    width: 100%;
    height: auto;
}
#register-btn{
    background-color: #F7A96D;
    border: 4px solid #00304F;
    border-radius: 200px;
    font-size: 20px;
    text-align: center;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    color: #00304F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#open-pop-up{
    display: block;
}
.pop-up{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}
.pop-up.active{
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .7);
}
.pop-up-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.pop-up-body{
    margin: auto;
    width: 500px;
    background-color: #F7A96D;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}
.pop-up-body p{
    font-size: 28px;
    font-weight: 500;
    color: #00304F;
    margin-bottom: 40px;
}
.pop-up-body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #89909F;
}
.pop-up-body input:focus {
    outline: none;
}
.pop-up-body button{
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #00304F;
}
.pop-up-close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}
.info-bg{
    background-color: #00304F;
    padding-top: 120px;
    padding-bottom: 150px;
}
.info-container{
    max-width: 1720px;
    margin: 0 auto;
    display: flex;

}
.steps-info{
    font-weight: 500;
    font-size: 62px;
    color: #EEEEEE;
    letter-spacing: -2%;
}
.steps-info-description{
    width: 592px;
    margin-top: 47px;
    color: #EEEEEE;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1%;
}
.colored-text{
    color: #F7A96D;
}
.more-info-container{
    margin-left: 104px;
}
.phases-container{
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid #eeeeee79;
}
.first-phase{
    margin-right: 80px;
}
.first-phase-img{
    width: 87px;
    height: 87px;
    background-image: url(../img/register-and-Stepsinfo/Star-Steps-info.png);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1%;
    color: #FDF8F2;
}
.first-phase-title{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1%;
    color: #F7A96D;
    margin-top: 20px;
}
.first-phase-description{
    font-family: 'Stem';
    font-weight: 350;
    font-size: 20px;
    letter-spacing: 1%;
    color: #EEEEEE;
    width: 496px;
    margin-top: 15px;
    line-height: 30px;
}
.second-phase-img{
    width: 87px;
    height: 87px;
    background-image: url(../img/register-and-Stepsinfo/Star-Steps-info.png);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1%;
    color: #FDF8F2;
}
.second-phase-title{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1%;
    color: #F7A96D;
    margin-top: 20px;
}
.second-phase-description{
    font-family: 'Stem';
    font-weight: 350;
    font-size: 20px;
    letter-spacing: 1%;
    color: #EEEEEE;
    width: 448px;
    margin-top: 15px;
    line-height: 30px;
}
.phases-description{
    font-weight: 350;
    font-size: 20px;
    letter-spacing: 1%;
    color: #EEEEEE;
    width: 1024px;
    margin-top: 50px;
    line-height: 30px;
}
